/* BLOCKS _______________________________________________________________________________*/

body {
  font-family: custom-hebrew;
  font-size: 1rem;
  margin: 0;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

footer {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  z-index: 1;
}

main {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  width: 70%;
}

nav {
  height: auto;
  width: 100%;
}

.bgd-desktop {
  height: 2000px;
  overflow: hidden;
  position: absolute;
  width: 50%;
  z-index: -1;
}

.bgd-mobile {
  display: none;
  position: relative;
  z-index: -1;
}

.desktop-hebrew-text {
  font: 100px/140px custom-hebrew, serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 20px;
}

.ftr-buttons {
  padding: 1.25rem;
  text-align: center;
  white-space: nowrap;
}

.greeter {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 2rem 0;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
}

.modal {
  z-index: 3;
}

.résumé-modal {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px #222222;
  left: 0;
  padding: 0;
  position: absolute;
  top: 2.75rem;
  width: 70%;
}

.screen-dimmer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}


/* ELEMENTS _______________________________________________________________________________*/

.bgd-desktop__img-left {
  float: left;
}

.bgd-desktop__img-right {
  float: right;
}

.bgd-mobile__img {
  display: block;
  width: 100%;
}

.bgd-mobile__text {
  font: 10vw/0 custom-hebrew, serif;
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 0;
}

.ftr-buttons__desc {
  font: bold 1.25rem/1.25rem custom-hebrew;
  margin: 0;
}

.ftr-buttons__img {
  height: 2.5rem;
  margin-bottom: 0.313rem;
  margin-top: 0.625rem;
}

.greeter__item {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  grid-row: span 1;
  justify-content: space-between;
}

.greeter__résumé {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58.445%;
}

.greeter__text {
  margin: 0 2rem 0 2rem;
  padding-bottom: 0.625rem;
  text-align: center;
}

.greeter__video {
  aspect-ratio: 119 / 90;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.header__nav {
  background-color: #000000;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  text-align: center;
  z-index: 2;
}

.nav__link {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  font-size: 1.563rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.188rem;
}

.project__img {
width: 30%;
}

.résumé-modal__btn {
  white-space: nowrap;
}

.résumé-modal__img {
  aspect-ratio: 8.5 / 11;
  width: 100%;
}

.résumé-modal__nav {
  background-color: #555555;
}

.résumé-modal__xbtn {
  text-align: right;
  width: 100%;
}


/* MODIFIERS _______________________________________________________________________________*/

.bgd-desktop--left {
  left: 0;
}

.bgd-desktop--right {
  right: 0;
}

.bgd-mobile__text--left {
  left: calc(18% - 135px);
}

.bgd-mobile__text--right {
  right: calc(18% - 135px);
}


/* UTILITIES _______________________________________________________________________________*/

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}


/* AT-RULES _______________________________________________________________________________*/

@font-face {
  font-family: custom-hebrew;
  src: url(resources/fonts/ezrasilsr.ttf); /* https://opensiddur.org/wp-content/uploads/fonts/display-font-charmap.php?fnt=EzraSIL-SR */
}

@media screen and (max-width: 1042px) {
  main {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .bgd-desktop {
    display: none;
  }
  .bgd-mobile {
    display: block;
  }
  .desktop-hebrew-text {
    display: none;
  }
  .ftr-buttons__desc {
    font-size: 0.938rem;
  }
  .ftr-buttons__img {
    height: 1.563rem;
    margin-bottom: 0.313rem;
    margin-top: 0.625rem;
  }
  .nav__link {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
  .nav__link:active {
    background-color: #ffffff;
    color: #000000;
  }
  .résumé-modal {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1043px) {
  .nav__link:hover {
    background-color: #ffffff;
    color: #000000;
    transition-duration: 150ms;
  }
}