body {
  font-family: custom-hebrew;
  font-size: 1rem;
  margin: 0;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

h3 {
  margin: 0;
}

.nav-link {
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  font-size: 1.563rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 0.188rem;
}

/* .page-bi-table {} */

.bi-table-cell {
  height: fit-content;
  vertical-align: top;
  width: 50%;
}

.title-cell {
  padding-bottom: 0.625rem;
  padding-left: 5%;
  padding-right: 5%;
}

.modal {
  z-index: 3;
}

.modal-toolbar {
  background-color: #555555;
}

.modal-toolbar-btn {
  white-space: nowrap;
}

.modal-toolbar-xbtn {
  text-align: right;
  width: 100%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

#top-bar {
  background-color: #000000;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  height: auto;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
}

#background-left {
  height: 2000px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 50%;
  z-index: -1;
}

#background-right {
  height: 2000px;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -1;
}

#background-left img {
  float: left;
}

#background-right img {
  float: right;
}

#narrow-background {
  display: none;
  position: relative;
  z-index: -1;
}

#background-wide {
  display: block;
  width: 100%;
}

#narrow-aleichem {
  font: 10vw/0 custom-hebrew, serif;
  left: calc(18% - 135px);
  margin: 0;
  position: absolute;
  top: 50%;
  z-index: 0;
}

#narrow-shalom {
  font: 10vw/0 custom-hebrew, serif;
  margin: 0;
  position: absolute;
  right: calc(18% - 135px);
  top: 50%;
  z-index: 0;
}

#page {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  padding-left: 3%;
  padding-right: 3%;
  position: relative;
  width: 70%;
}

#shalom-for-wide-background {
  padding-top: 20px;
}

#wide-shalom {
  font: 100px/140px custom-hebrew, serif;
  margin-bottom: 0;
  margin-top: 0;
}

#youtube {
  aspect-ratio: 119 / 90;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

#résumé-thumbnail {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  width: 58.445%;
}

#portfolio-frame {
    /* aspect-ratio: 4 / 3; */
  width: 30%;
}

#footer {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
  z-index: 1;
}

#made-with-buttons {
  padding: 1.25rem;
  text-align: center;
  white-space: nowrap;
}

#made-with-buttons img {
  height: 2.5rem;
  margin-bottom: 0.313rem;
  margin-top: 0.625rem;
}

#made-with-buttons p {
  font: bold 1.25rem/1.25rem custom-hebrew;
  margin: 0;
}

#résumé {
  aspect-ratio: 8.5 / 11;
  width: 100%;
}

#résumé-modal {
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px #222222;
  left: 0;
  padding: 0;
  position: absolute;
  top: 2.75rem;
  width: 70%;
}

#screen-dimmer {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

@font-face {
  font-family: custom-hebrew;
  src: url(resources/fonts/ezrasilsr.ttf); /* https://opensiddur.org/wp-content/uploads/fonts/display-font-charmap.php?fnt=EzraSIL-SR */
}

@media screen and (max-width: 1042px) {
  .nav-link {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
  .nav-link:active {
    background-color: #ffffff;
    color: #000000;
  }
  #background-left {
    display: none;
  }
  #background-right {
    display: none;
  }
  #made-with-buttons img {
    height: 1.563rem;
    margin-bottom: 0.313rem;
    margin-top: 0.625rem;
  }
  #made-with-buttons p {
    font-size: 0.938rem;
  }
  #narrow-background {
    display: block;
  }
  #page {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  #résumé-modal {
    width: 100%;
  }
  #shalom-for-wide-background {
    display: none;
  }
}

@media screen and (min-width: 1043px) {
  .nav-link:hover {
    background-color: #ffffff;
    color: #000000;
    transition-duration: 150ms;
  }
}