/* TYPES ____________________________________________________________________________________________ */

.border-dark {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.card {
  background-color: var(--theme-grey-light);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.flex {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}


/* MODIFIERS ________________________________________________________________________________________ */

.card--dark {
  background-color: var(--theme-grey-dark);
  box-shadow: 0 0 5px 0 rgba(100, 100, 100, 0.1);
}

.card--white {
  background-color: #fff;
}

.flex--column {
  flex-flow: column nowrap;
}

.flex--left-justified {
  align-items: start;
}

.flex--standard-gap {
  gap: var(--gap-standard);
}


/* STATES ___________________________________________________________________________________________ */

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}