body {
  height: 2000px;
  width: 100vw;
  margin: 0;
  font-family: custom-hebrew;
  /* font-size: 20px; */
}

h3 {
  margin: 0;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
}

.nav-link:hover {
  background-color: #ffffff;
  color: #000000;
  transition-duration: 150ms;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.nav-dropdown-drawer {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #000000;
  white-space: nowrap;
  text-align: left;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}

.nav-dropdown:hover .nav-dropdown-drawer {
  display: block;
}

.dropdown-link {
  display: block;
}

.subscript {
  position: relative;
  top: -50px;
  font: 15px montserrat-extralight, sans-serif;
}

.page-bi-table {
  width: 90%;
  display: inline-block;
}

.bi-table-cell {
  width: 50%;
  height: fit-content;
  vertical-align: top;
}

.title-cell {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
}

.modal {
  overflow: scroll;
}

.modal-toolbar {
  background-color: #555555;
}

.modal-toolbar-btn {
  white-space: nowrap;
}

.modal-toolbar-xbtn {
  width: 100%;
  text-align: right;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

#background-port {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 2000px;
  width: 50%;
  background-image: url("https://ethanalanbarnett.github.io/images/ethan_alan_barnett_port.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

#background-starboard {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 2000px;
  width: 50%;
  background-image: url("https://ethanalanbarnett.github.io/images/ethan_alan_barnett_starboard.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

#top-bar {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #000000;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
}

#narrow-background {
  display: none;
  position: relative;
  z-index: -1;
}

#background-bow {
  width: 100%;
  display: block;
}

#narrow-aleichem {
  position: absolute;
  top: 50%;
  left: calc(18% - 135px);
  font: 10vw/0 custom-hebrew, serif;
  margin: 0;
  z-index: 0;
}

#narrow-shalom {
  position: absolute;
  top: 50%;
  right: calc(18% - 135px);
  font: 10vw/0 custom-hebrew, serif;
  margin: 0;
  z-index: 0;
}

#page {
  width: 70%;
  min-height: calc(100% - 36px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.7);
}

#wide-shalom {
  font: 100px/120px custom-hebrew, serif;
  margin-top: 20px;
  margin-bottom: 30px;
}

#youtube {
  width: 100%;
  aspect-ratio: 119 / 90;
  border: 1px solid #000000;
}

#résumé-thumbnail {
  width: 58.445%;
  border: 1px solid #000000;
}

#résumé {
  width: 100%;
  aspect-ratio: 8.5 / 11;
}

#résumé-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  padding: 0;
  z-index: 2;
  box-shadow: 0 0 20px 5px #222222;
  background-color: #ffffff;
}

#screen-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

@font-face {
  font-family: custom-hebrew;
  src: url(https://ethanalanbarnett.github.io/resources/fonts/ezrasilsr.ttf); /* https://opensiddur.org/wp-content/uploads/fonts/display-font-charmap.php?fnt=EzraSIL-SR */
}

@font-face {
  font-family: montserrat-extralight;
  src: url(https://ethanalanbarnett.github.io/resources/fonts/montserrat-extralight.otf);
}

@media screen and (max-width: 1042px) {
  /* body {
    font-size: 30px;
  } */
  #background-starboard {
    display: none;
  }
  #background-port {
    display: none;
  }
  #narrow-background {
    display: block;
  }
  #page {
    width: 100%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
  }
  #shalom-for-wide-background {
    display: none;
  }
  .nav-link {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}