body {
  height: 2000px;
  width: 100vw;
  margin: 0;
}

#background-port {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 2000px;
  width: 50%;
  background-image: url("https://ethanalanbarnett.github.io/images/ethan_alan_barnett_port.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

#background-starboard {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 2000px;
  width: 50%;
  background-image: url("https://ethanalanbarnett.github.io/images/ethan_alan_barnett_starboard.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}

#page {
  width: 70%;
  /* min-height: calc(100% - 1px); */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0 20px 5px #222222;
}

#hello-world {
  width: 80%;
  aspect-ratio: 119 / 90;
  margin-left: auto;
  margin-right: auto;
}

#yt {
  height: 100%;
  width: 100%;
}