/* VARIABLES ________________________________________________________________________________________ */

:root {
  --gap-double: calc(var(--gap-standard) * 2);
  --gap-half: calc(var(--gap-standard) / 2);
  --gap-standard: 1.3rem;
  --theme-grey-dark: #242525;
  --theme-grey-light: #363838;
  --theme-grey-medium: #2d2e2e;
  /* --theme-orange-bright: #f8991d; */
  /* --theme-orange-dull: #b1701b; */
  /* --theme-orange-isha: #9b4932; */
  --theme-orange-logo: #ff5100;
  /* --theme-teal-bright: #0D98BA; */
  --theme-teal-logo: #0177a2;
}

/* PSUEDO ELEMENTS __________________________________________________________________________________ */


/* TAGS _____________________________________________________________________________________________ */

* {
  margin: 0;
}

a {
  color: var(--theme-orange-logo);
  font-weight: 900;
  text-decoration: none;
}

address {
  font-style: normal;
}

body {
  background-color: var(--theme-grey-light);
  color: #fff;
  min-height: 100vh;
  min-height: 100svh;
  min-width: 100vw;
  min-width: 100svw;
}

code {
  color: var(--theme-teal-logo);
  font-weight: 900;
}

footer {
  width: 100%;
}

h1, h2 {
  text-align: center;
}

header {
  width: 100%;
}

hr {
  background-image: url(/new/assets/img/hr.svg);
  background-position: center;
  background-size: cover;
  border-style: none;
  height: 0.8rem;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--gap-double);
}


/* BLOCKS ___________________________________________________________________________________________ */

.logo-main {
  height: 40vmin;
}

.project {
  flex-flow: row wrap;
}

.résumé {
  width: min(35rem, 100%);
}


/* ELEMENTS _________________________________________________________________________________________ */

.header-primary__picture {
  background-image: url(/new/assets/img/ethan_alan_barnett_wide.jpg);
  background-image: -webkit-image-set(
    "/new/assets/img/ethan_alan_barnett_wide.jxl" type("image/jxl"),
    "/new/assets/img/ethan_alan_barnett_wide.avif" type("image/avif"),
    "/new/assets/img/ethan_alan_barnett_wide.webp" type("image/webp"),
    "/new/assets/img/ethan_alan_barnett_wide.jpg" type("image/jpg")
  );
  background-image: image-set(
    "/new/assets/img/ethan_alan_barnett_wide.jxl" type("image/jxl"),
    "/new/assets/img/ethan_alan_barnett_wide.avif" type("image/avif"),
    "/new/assets/img/ethan_alan_barnett_wide.webp" type("image/webp"),
    "/new/assets/img/ethan_alan_barnett_wide.jpg" type("image/jpg")
  );
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 6rem;
  width: 6rem;
}

.project__title {
  line-height: 1;
}

.project__image {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(53, 57, 60, 0.19);
  display: block;
  width: 100%;
}

.résumé__image {
  display: block;
  width: 100%;
}

.résumé__link {
  display: block;
}


/* MODIFIERS ________________________________________________________________________________________ */

.project__item--first {
  width: min(35rem, 100%);
}

.project__item--second {
  flex-grow: 1;
  width: min(10rem, 100%);
}