@media (orientation: portrait) {
  .card {
    padding: var(--gap-standard) var(--gap-half);
  }
  .flex {
    gap: var(--gap-standard) var(--gap-half);
  }
  .flex--major-component {
    margin: var(--gap-standard) var(--gap-half);
  }
  .project {
    gap: var(--gap-standard) var(--gap-half);
  }
}

/* @media (orientation: portrait) and (min-aspect-ratio: 0.6/1) {} */