/* TYPES ____________________________________________________________________________________________ */

.card {
  background-color: var(--theme-grey-light);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(53, 57, 60, 0.19);
  box-sizing: border-box;
}

.card--dark {
  background-color: var(--theme-grey-dark);
}

.card--white {
  background-color: #fff;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex--column {
  flex-flow: column nowrap;
}

.flex--standard-gap {
  gap: var(--gap-standard);
}


/* STATES ___________________________________________________________________________________________ */

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}