.footer-main__copyright {
  z-index: 1;
}

.header-main {
  gap: 0;
  grid-template: 
    "top-bar" auto
    "body" minmax(0, 1fr) / 1fr;
}

.header-main__404-h1 {
  color: #ffffff;
  font-size: 10vmin;
  line-height: 2;
  position: relative;
  text-align: center;
  z-index: 1;
}

.header-main__404-p {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 2;
  position: relative;
  text-indent: 0;
  text-shadow: 0 0 0.2rem #000000;
  z-index: 1;
}

.header-main__logo {
  width: 50%;
}

.header-main__nav {
  grid-area: top-bar;
  position: relative;
}

.header-main__panel--auxiliary {
  display: none;
}

.header-main__panel--primary {
  align-self: center;
  box-sizing: border-box;
  gap: 1vh;
  grid-area: body;
  height: auto;
  justify-self: center;
  padding: 2vmin;
  width: 50%;
}

.header-main__slogan {
  padding: 0;
  width: 50%;
}


@media (orientation: portrait) {

  .header-main__logo {
    width: 100%;
  }

  .header-main__slogan {
    width: 100%;
  }

}