/* AT-Rules ______________________________________________________________________________________________ */

@font-face {
  font-display: fallback;
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v6/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: padma;
  src: local("GIST-TMOTPadma"), url(/ask_life/assets/font/tmotpdn_ship.ttf);
}


/* BLOCKS ______________________________________________________________________________________________ */

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  color: #5d6163;
  font: 1.688rem/1.875rem 'Libre Baskerville', serif;
  margin: 0.563rem 0 1rem 0;
  text-transform: uppercase;
}

h2::after {
  background-image: linear-gradient(to right, #a88900, #3ec500);
  border-radius: 4px;
  content: "";
  display: block;
  height: 4px;
  margin: 16px auto 32px auto;
  width: 100px;
}

main {
  margin: 0 auto 0 auto;
  width: 75vw;
}

p {
  color: #4d5153;
  line-height: 2.5;
  margin: 0;
  text-indent: 3rem;
}

.header-main {
  background-image: url(/ask_life/assets/img/banner.jpg);
  /* background-image: url(/ask_life/assets/img/banner-blue.jpg); */
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.sticky-bar {
  background-color: #ffffff;
  height: 2.6rem;
  position: sticky;
  top: 0;
}

/* ELEMENTS ______________________________________________________________________________________________ */

.h2__subtitle {
  color: #35393c;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
  text-indent: 0;
  text-transform: uppercase;
}

.header-main__attr {
  bottom: 0.5rem;
  font-size: 0.7rem;
  margin: 0;
  position: absolute;
  right: 0.5rem;
}

.header-main__attr-a {
  color: #cccccc;
  text-decoration: none;
}

.header-main__glyph {
  height: 1.2rem;
}

.header-main__imgs {
  left: 10%;
  position: absolute;
  top: 10%;
  width: 35%;
}

.header-main__li {
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.3rem 0 0.3rem 0;
}

.header-main__li-a {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
}

.header-main__li-a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 150ms;
}

.header-main__logo {
  width: 100%;
}

.header-main__nav {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 1.25px rgba(0, 0, 0, 0.6);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.header-main__slogan {
  width: 100%;
}

.header-main__subtitle {
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 2;
  text-shadow: 0 0 0.2rem #000000;
}

.header-main__subtitle-div {
  left: 5%;
  position: absolute;
  bottom: 25%;
  width: 25%;
}

.header-main__ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0;
  width: 50%;
}

.sticky-bar__txt {
  color: #ffffff;
  line-height: 0;
  margin: 0;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
}

.sticky-bar__wrapper {
  height: 2.6rem;
  left: 0.75%;
  position: sticky;
  top: 0;
  white-space: nowrap;
  width: min-content;
  z-index: 2;
}

/* MODIFIERS ______________________________________________________________________________________________ */



/* UTILITIES ______________________________________________________________________________________________ */

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

.hidden {
  display: none;
}

.padma {
  font-family: padma, 'Times New Roman', Times, serif;
}